@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts/";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";

:root {
  font-family: "Dosis", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #111111;
    background-color: #ffffff;
  }
}

body { padding: 0 5%; }
h1, h2 { text-align: center; }
.msg { text-align: center; }

button {
  border: none;
}

button.round {
  border-radius: 50%;
  min-width: 2em;
  padding: 0.5em;
  margin: 0.5em;
}
